
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: url('../images/spaceback.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    font-weight: 800;
  }
  
  .header {
    width: 100%;
    background-color: #101010;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  
  .governor-section select {
    margin-top: 10px;
    padding: 10px;
    background-color: #162447;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }
  
  .governor-section img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .facilities-section select {
    margin-top: 10px;
    padding: 10px;
    background-color: #162447;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }

  .minerals-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #1a1a2e;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 40rem;
    box-shadow: 5px 5px black;
  }
  
  .assigned-colony {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .colony-inventory {
    margin-bottom: 5px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
  }
  
  .left-panel {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .space-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px black;
  }
  
  .cart-button {
    margin-top: 20px;
  }
  
  #orderButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #orderButton:hover {
    background-color: #0056b3;
  }
  
  section {
    margin-bottom: 10px;
  }

  .governor-section, .facilities-section, .colony, .space-cart {
    background-color: #1a1a2e;
    box-shadow: 5px 5px black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 20rem;
  }
  .submit-button {
    padding: 5px 15px;
    background-color: #49c949;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black;
  }
  .submit-button:hover {
    background-color: #3c9f3c;
  }